@import "variables";
@import "bases";
@import "mixins";

/* Nav */
.linea {
    background-color: $color-fuente;
    height: 5px; 
  }

.nav{
    @include flex-center-wrap;
    & a {
        color: $color-fuente;
        text-decoration: none;
      } 
    & .link {
        font-size: 18px;
        &:hover {
          color: #eba834;
          transition: all 0.2s; 
        }
      }
}









