/* Bases */
* {
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  justify-content: center; }

body {
  background-color: #b7b5ba; }

.card {
  background-color: #eae6f2;
  max-width: 500px;
  justify-content: center; }
  .card:hover {
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%); }

li {
  justify-content: center;
  list-style-type: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 5vh;
  padding-right: 5vh; }

iframe {
  width: 100%; }

/* Bases */
* {
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  justify-content: center; }

body {
  background-color: #b7b5ba; }

.card {
  background-color: #eae6f2;
  max-width: 500px;
  justify-content: center; }
  .card:hover {
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%); }

li {
  justify-content: center;
  list-style-type: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 5vh;
  padding-right: 5vh; }

iframe {
  width: 100%; }

/* Header */
.container {
  gap: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 1rem;
  flex-direction: row;
  align-items: stretch; }

/* Bases */
* {
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  justify-content: center; }

body {
  background-color: #b7b5ba; }

.card {
  background-color: #eae6f2;
  max-width: 500px;
  justify-content: center; }
  .card:hover {
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%); }

li {
  justify-content: center;
  list-style-type: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 5vh;
  padding-right: 5vh; }

iframe {
  width: 100%; }

/* Nav */
.linea {
  background-color: black;
  height: 5px; }

.nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .nav a {
    color: black;
    text-decoration: none; }

.link {
  font-size: 18px; }
  .link:hover {
    color: #eba834;
    transition: all 0.2s; }

/* Bases */
* {
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  justify-content: center; }

body {
  background-color: #b7b5ba; }

.card {
  background-color: #eae6f2;
  max-width: 500px;
  justify-content: center; }
  .card:hover {
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%); }

li {
  justify-content: center;
  list-style-type: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 5vh;
  padding-right: 5vh; }

iframe {
  width: 100%; }

/* Biografia */
.img-section {
  display: flex;
  justify-content: space-around; }

.img-biografia {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  display: flex; }

.redes-sociales {
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 20px; }

.iconify path:hover {
  color: #eba834;
  transition: all 0.2s; }

/* Bases */
* {
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  justify-content: center; }

body {
  background-color: #b7b5ba; }

.card {
  background-color: #eae6f2;
  max-width: 500px;
  justify-content: center; }
  .card:hover {
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%); }

li {
  justify-content: center;
  list-style-type: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 5vh;
  padding-right: 5vh; }

iframe {
  width: 100%; }

/* Discografia */
.main-discografia {
  padding-top: 1rem;
  padding-bottom: 1rem; }
  .main-discografia.container-fluid {
    max-width: 750px;
    padding-top: 2rem;
    padding-bottom: 2rem; }
    .main-discografia.container-fluid.card {
      background-color: #eae6f2; }
      .main-discografia.container-fluid.card .card:hover {
        box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.4);
        transform: translateY(-3%); }

.rounded {
  max-width: 250px;
  padding-top: 1rem;
  padding-bottom: 1rem; }

/* Bases */
* {
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  justify-content: center; }

body {
  background-color: #b7b5ba; }

.card {
  background-color: #eae6f2;
  max-width: 500px;
  justify-content: center; }
  .card:hover {
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%); }

li {
  justify-content: center;
  list-style-type: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 5vh;
  padding-right: 5vh; }

iframe {
  width: 100%; }

/* Tours */
.tours-imagen {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  max-width: 900px; }

.date {
  color: #fa3232; }

/* Bases */
* {
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  justify-content: center; }

body {
  background-color: #b7b5ba; }

.card {
  background-color: #eae6f2;
  max-width: 500px;
  justify-content: center; }
  .card:hover {
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%); }

li {
  justify-content: center;
  list-style-type: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 5vh;
  padding-right: 5vh; }

iframe {
  width: 100%; }

/* Tienda */
li {
  justify-content: center;
  list-style-type: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 5vh;
  padding-right: 5vh; }

@media only screen and (max-width: 950px) {
  .img-section, .container-index {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap; } }

@media only screen and (max-width: 2400px) {
  .container-discografia, .tienda {
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap; } }

@media only screen and (max-width: 1182) {
  .exitos {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap; } }

/* Fin de MEDIAQUERY */
